@{
    ViewBag.Title = "Contact";
}

<body class="container ">
    <div class="col-md-12 card">
        <div id="DadosPessoais">
            <h2>Dados Pessoais</h2>
            <hr />
            <p>Celular: (62) 99692- 1374</p>
            <p>Email: lucaz.exp@hotmail.com</p>
            <p>Linkedin:<a href="https://www.linkedin.com/in/lucas-g/">https://www.linkedin.com/in/lucas-g/</a></p>
            <p>GitHub: <a href="https://github.com/Sttress">https://github.com/Sttress</a></p>
            <p>Endereço de residência: Cidade Vera Cruz - Aparecidade de Goiânia - GO </p>
        </div>
    </div>

    <div class="col-md-12 text-center ">
        <h2>Resumo Pessoal</h2>
        <hr />
        <p class="text-justify">    Após algum tempo trabalhando na aréa de infraestrutura resolvi deixa-la de lado e partir para o desenvolvimento.
                                A possibilidade de criar novos recursos quase que ilimitados, sejam em um sistema Web ou Mobile é muito empolgante e por algum tempo estudei sozinho o básico como Js, HTML e Css, até que consegui uma vaga de estágio na área de desenvolvimento
                                , em 3 meses estudei .Net e estava no sprint, desde então venho desenvolvendo, corrigindo erros, e realizando melhorias em um sistema que conta com recursos financeiros, Administrativos e possui um recurso de viagens. Esse sistema dá suporte a mais de 500 pessoas em todo o pais.</p>
        <p class="text-justify">Tenho muita vontade em desenvolver recursos novos e melhorar os já feitos. Busco colecionar cada vez mais conhecimentos para logo estar trabalhando remotamente para um empresa estrangeira, abrindo cada vez mais o ângulo de feitos com linhas de código.</p>
    </div>
    <div class="col-md-12">
        <div id="Experiencia">
            <h2 class="text-center">Experiências Profissionais</h2>
            <hr />
            <div class="col-md-3">
                <h4>Enerwatt Engenharia - Atual</h4>
                <p>Estagiário de Desenvolvimento :</p>
                <p>Desenvolvimento em .Net e SQL Server, realizando o desenvolvimento em cima de um sistema legado, corrigindo erros, criando novos recursos e melhorando os recursos já implantados.</p>
            </div>
            <div class="col-md-3">
                <h4>NetSuprema - (08/2019 - 06/2020)</h4>
                <p>Estagiário de Infraestutura:</p>
                <p>Manutenção, configuração, implementação e gerenciamento de infraestrutura de escritórios imobiliários, advocacia, engenharia, e instituções financeiras em todo o Centro Oeste. </p>
            </div>
            <div class="col-md-3">
                <h4>Alphaville Flamboyant - (08/2019 - 06/2020)</h4>
                <p>Estagiário em Infraestrutura:</p>
                <p>-Manutenção e montagem de hardware.</p>
                <p>-Manutenção e gerenciamento de redes.</p>
                <p>-Suporte ao usuário.</p>
            </div>
            <div class="col-md-3">
                <h4>Grupo Tecar - (09/2018 - 06-2019)</h4>
                <p>Auxiliar de Estoque</p>
                <p>Organização e manutenção do estoque de peças da concessionária.</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="col-md-3">
            <div id="Conhecimentos">
                <h2>Conhecimentos</h2>
                <hr />
                <p>Java</p>
                <p>C#</p>
                <p>Spring</p>
                <p>.NET</p>
                <p>Flutter</p>
                <p>Java Script</p>
                <p>HTML5</p>
                <p>Css3</p>
                <p>MySQL</p>
                <p>SQL SERVER</p>
                <p>GitHub</p>
                <p>JQuery</p>
            </div>
        </div>
        <div class="col-md-3">
            <div id="Certificados">
                <h2>Certificados</h2>
                <hr />
                <p>Microsserviços: <a href="https://hermes.digitalinnovation.one/certificates/B9BC6320.pdf"> clique aqui</a></p>
                <p>Programação orientada a objetos C#: <a href="https://www.udemy.com/certificate/UC-97428a08-b79a-4dde-8687-046d4c89447f/">Clique aqui</a></p>
                <p>SOLID: <a href="https://www.dio.me/certificate/9705F9E9/share">Clique aqui</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div id="Formacoes">
                <h2>Formações</h2>
                <hr />
                <h4>Universidade Estadual de Goiás - UEG</h4>
                <p>Bacharel em sistemas de informação - (2019/1 - 2022/2)</p>
                <br />
                <h4>Curso Técnico SENAC</h4>
                <p>Informática Avançada - 2016</p>
            </div>
        </div>
        <div class="col-md-3">
            <div id="Complementos">
                <h2>Complementos</h2>
                <hr />
                <p>Inglês Avançado - HightWay Idiomas</p>
                <p>Excel Intermediário</p>
            </div>
        </div>
    </div>
</body>
